.body {
background-color: #77115f;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 50px;
margin: 0;
}
.container {
border: cornflowerblue solid 2px;
padding: 5px;
background-color: palevioletred;
border-radius: 5px

}
.item {
   box-sizing: border-box;
   border: #77115f solid 3px;
   background-color: aqua;
   border-radius: 3px;

}